<nav class="BarraPrincipal">
    <div class="MenuIconContainer">
      <i class="fa-solid fa-bars MenuIcon" (click)="fnocultarBarraLateral()"></i>
    </div>

    <div class="logo" [routerLink]="['/home']" >
      <img src="../assets/logoMB.png" alt="MB logo">
    </div>

</nav>



<div class="contenedor">
  <div class="barra_lateral" [ngClass]="{'ocultarBarraLateral': !ShowLateralBar}">
    <div class="arriba">
      <!-- <a class="barra_item" [routerLink]="['/registrar']">
        <i class="barra_item_icon fa-solid fa-plus"></i>
        <p>Registrar</p>
      </a>
  
      <a class="barra_item" [routerLink]="['/listaRegistros']">
        <i class="barra_item_icon fa-solid fa-list-ul" ></i>
        <p>Registros</p>
      </a> -->
      
      <a class="barra_item" [routerLink]="['/fechasImportantes']">
        <i class="barra_item_icon fa-solid fa-calendar"></i>
        <p>Fechas Importantes</p>
      </a>
    </div>


    <!-- Abajo -->
    <a class="barra_item cerrarSesion">
      <i class="barra_item_icon fa-solid fa-arrow-right-from-bracket"></i>
      <p>Cerrar sesion</p>
    </a>
  </div>

  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
  



  <footer class="footer">
    <a href="https://www.facebook.com/narb.basher/" target="_blank">@2020 - Basher</a>
  </footer>
</div>


